*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;  
}
.logo img{
    width: 120px;
    margin-right: 20px;
}
.header{
    height: 80px;
    background-color: whitesmoke;
    padding: 0 2rem;
    margin: 0 auto;
    position: sticky;
    z-index: 1000;
    top: 0;
    border-bottom: 2px solid black;    
}
.nav-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.navlink{
    display: flex;
    list-style: none;
    gap: 32px;
}
.navlink a{
    color:  black;
    text-decoration: none;
}
.navlink a:active{
    background-color: #c37d28;
    padding: 10px 18px ;
    border-radius: 50px;
}
.header-button{
    background-color: #c37d28;
    border: none;
    padding: 12px 20px 12px 20px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 20px;
    cursor: pointer;
}
.header-button:hover{
    background-color: black;
}
/* <!--end of navication --> */
.hero-bage{
  height: 830px;
  width: auto;
  background: #ffffff;
  display: flex;
}
.hero-img img{
    height: 800px;
    width: 700px;
    padding: 50px 40px 40px 50px;
    
}
.hero-text{
    margin-left: 30px;
}
.hero-text h1{
    width: 200px;
    font-size: 50px;
    padding-top: 250px;   
}
.hero-text p{
    color: #555555;
    font-size: 30px;
    padding-top: 20px;
}
.hero-button{
    background-color: #2788ce;
    border: none;
    padding: 12px 20px 12px 20px;
    color: white;
    font-size: 15px;
    font-weight: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.hero-button:hover{
    background-color: black;
}
/* hero-page */
.Services{
    height: 830px;
    width: 100%;
    background: #dae9f4;
    font-size: 20px;
    border-top: 1px solid #ddd;
}
.services1{
    text-align: left;
    padding-top: 20px;
    font-size: 70px;
    padding-bottom: 40px;
    padding-left: 20px;
    
}
.total-numbers{
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-content: space-between;
   padding: 20px;
}
.cards {
    background: white;
    padding: 20px ;
    margin: 20px;
    width: 30%;
    border: 2px solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cards:hover{
   
    border-bottom: 7px solid black;
    border-right:  7px solid black;   
}

.cards h1{
    font-size: 40px;
    
    
}
.total-numbers h1{
    font-size: 50px;


}
.total-numbers h2{
    font-size: 30px;

}
.total-numbers p{
    font-size: 18px;
    color: #343333;
    padding-bottom: 20px;
}
.total-numbers img{
     width: 50px;
     height: 50px;
    background: #c37d28;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    padding: 10px; 
}
/* end Skills */
.skills{
   height: 415px;
  width: auto;
  display: flex;
  border-top: 1px solid #ddd;
  
}
.text2-Skills{
    
    height: 383px;
    width: 700px;
    padding-left: 60px;
    padding-top: 100px;
    
    
}
.text2-Experience{
    
    height: 400px;
    width: 700px;
   padding-top: 80px;

}
.text2-Skills h1{
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    font-size: 65px;
}
.text2-Skills p{
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    line-height: 27px;
    font-size: 18px;
    padding-top: 15px;
    
}
.underline{
    border-bottom: #343333 solid;
    padding-bottom: 30px;
}
.b1{
    display: flex;
    gap:60px;
}
.skills2{
  width: auto;
  height: 415px;
  
}
.skills2 h1{
    
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-weight: 700;
}
.pic-btn{
    height: 415px;
    width: 600px;
    justify-content: center;
    align-items: center;
    display: flex;
    display: grid;
    gap: 1px;              
    padding: 40px;
    object-fit: cover;
}
.pic-button{
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 50px ;
    font-family:  sans-serif;
    

}
.pic-btn img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    row-gap: 400px;
    border: #2788ce;
    border: 30px;
    
    
}
.pic-btn button {
    background-color: #2788ce;
    border-radius: 20px;
    padding: 12px 20px 12px 20px;
    color: white;
    font-size: 15px;
    font-weight: 20px;
    width: 100px;
    border: none;
    cursor: pointer;
    margin-left: 50px;

   
}


.pic-btn  button:hover{
    background-color:#c37d28;
    color: black;
}



.cards2{
display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(3, 1fr);   
  gap: 10px;
  width: 600px;
margin-left: 20px;
    

}

.cards2 div{
   
  height: 75px;
  border: 2px solid black;
  display: flex;
  
  font-size: 24px;
  padding-top: 10px;
  min-height: 60px;
  font-family: 'Rubik', sans-serif;
  padding-left: 20px;
}
.div2{
    display: flex;
    align-items: center;
}
.cards2 div img{
    height: 55px;
    width: 50px;
    display: flex; 
     justify-content: left;
    align-items: center;
}
.cards2 div:hover{
    border-bottom: 7px solid black;
    border-right:  7px solid black;
    transition: 0.10s ease; 
}

.skills2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.cards-imgandbutton-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    
}
.lastest-project{
    
     background-color: #dae9f4;
    height: 800px;
    width: auto;
    border-top: 1px solid #ddd;
}
.lastest-project h1{
 font-size: 40px;
 font-family: 'Rubik', sans-serif;
 padding-top: 30px;
padding-left: 30px;


}
.grid11{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1px;
   

}
.div11{
   margin-left: 30px;
   margin-top: 30px;
   
}
.div11 img{
    height: 200px;
    width: 200px;
    
    
}
.div11 :hover{
    border-right: 10px;
}
.div11 h2{
    font-size: 15px;
    
}
.div11 p{
    font-size: 12px;
}
.underline11{
    height: 80px;
    width: 200px;
    border: black 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    bottom: 5px;
    background-color: #dae9f4;
    
    
}

.imagee img{
    height: 20px;
    width: 20px;
}
/* end lastest-project */
.social-footer {
  background-color: #f8f9fa; 
  padding: 40px 0;
  text-align: center;
  border-top: 3px solid black;
}

.footer-container {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.social-icons {
  display: flex;
  gap: 20px; 
  

}

.social-icons img {
  width: 20px;       
  height: 20px;
  border-radius: 50%; 
  transition: transform 0.3s ease; 
  
}

.social-icons img:hover {
  transform: scale(1.1); 
  
}
.copyright {
  color: #666;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
